<section class="container-fluid bg-danger">
    <div class="home d-flex align-items-center">
        <div class="col-12 col-md-6 m-auto text-white text-center">
            <h1 class="text-warning">
                Welcome To Home Page
            </h1>

            <a type="button" href="/logout" class="btn btn-light btn-block my-4 ">Logout</a>

        </div>
    </div>
</section>